@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit-ExtraBold';
  src: url('./assets/Outfit-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Outfit-Bold';
  src: url('./assets/Outfit-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Outfit-Light';
  src: url('./assets/Outfit-Light.ttf') format('truetype');
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.floatIn {
  animation: floatIn 4s ease-out backwards;
}
@keyframes floatInRocket {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.floatInRocket {
  animation: floatIn 2s ease-out backwards;
  animation-delay: 4s;
}
@keyframes floatInEnd {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.floatInEnd {
  animation: floatIn 2s ease-out backwards;
  animation-delay: 6s;
}

:root {
  font-family:'Outfit', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.momentum{
  background: #CF0404;
background: linear-gradient(to right, #CF0404 0%, #CFB406 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Outfit-ExtraBold';
  font-size: 3.2em;
  line-height: 1.1;
}
h2{
font-family: 'Outfit-Bold';
}
p{
  font-family: 'Outfit-Light'
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fefaf3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
